@{
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-animate-top" background="..\..\imgs\fundo.jpg">

    <div class="w3-container w3-margin-top">

        @using (Html.BeginForm("Confirmar", "Cliente", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
        <fieldset class="w3-container w3-card-4 w3-round-xlarge w3-white">

            <input type="hidden" name="emailCliente" value=@ViewBag.Cliente>
            <input type="hidden" name="emailFuncionario" value=@ViewBag.Funcionario>
            <input type="hidden" name="idPedido" value=@ViewBag.Pedido>
            <input type="hidden" name="data" value=@ViewBag.Data>
            <input type="hidden" name="hora" value=@ViewBag.Hora>

            <div class="w3-margin-top w3-center">
                <img style="width:20%" class="w3-center" src="..\..\imgs\ok.png" />
            </div>
            <h4 class="w3-center w3-text-deep-orange"><b>CONFIRMAÇÃO DE PEDIDO</b></h4>
            <br>
            <p><b>Funcionário </b> @ViewBag.Funcionario</p>
            <p><b>Data: </b> @ViewBag.Data</p>
            <p><b>Hora: </b> @ViewBag.Hora</p>
            @if (ViewBag.observacoes != null)
            {
            <p><b>Observacoes: </b>@ViewBag.observacoes</p>
            }

            <br>
            <div>
                <table class="w3-centered w3-table w3-striped w3-border">
                    <tr>
                        <th>
                            Serviço
                        </th>
                        <th>
                            Quantidade
                        </th>
                    </tr>

                    @foreach (var servico in ViewBag.Servicos)
            {
                <tr>
                    <td>
                        @servico.servico
                    </td>
                    <td>
                        @servico.quantidade
                    </td>
                </tr>
    }

                </table>
            </div>

            <br>
            <p><b>Custo Estimado: </b> @ViewBag.Custo €</p>
            <p><b>Duração Estimada: </b> @ViewBag.Duracao</p>
            <br>

            <p class="w3-center">
                <input class="w3-button w3-section w3-deep-orange w3-round-xlarge w3-ripple" name="res" type="submit" value="Confirmar" />
            </p>
            <p class="w3-center">
                <input class="w3-button w3-section w3-deep-orange w3-round-xlarge w3-ripple" name="res" type="submit" value="Cancelar" />
            </p>
        </fieldset>
        }

    </div>
</body>
</html> 