<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ver Perfil", "VerPerfil", "Cliente")</li>
                    <li>@Html.ActionLink("Contactos", "Contactos", "Cliente")</li>
                    <li>@Html.ActionLink("Catálogo", "Catalogo", "Cliente")</li>
                    <li>@Html.ActionLink("Pedidos Pendentes", "Pendentes", "Cliente")</li>
                    <li>@Html.ActionLink("Solicitar Pedido", "Solicitar", "Cliente")</li>
                    <li>@Html.ActionLink("Terminar Sessão", "Logout", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<style>
    .img-solicitar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }

    h1 {
        font-size: 20px;
        color: #d97215;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 17px;
        color: #000000;
        text-align: center;
        margin-bottom: 5%;
    }

    .botija h3 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #000000;
        text-align: center;
    }

    .botija p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: #000000;
        text-align: center;
    }

    .botijas {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        display: flex;
    }

    .botija {
        flex: 50%;
        padding: 10px;
    }

    div {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    fieldset {
        opacity: 0.8;
        margin-left: auto;
        margin-right: auto;
    }

</style>
