@model IEnumerable<click_gas.Models.ServicosPedido>
@{
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Serviços Pendentes</title>
</head>
<body class="w3-animate-top" background="..\..\imgs\fundo.jpg">
    <h1 class="w3-text-deep-orange w3-margin-top">SERVIÇOS PENDENTES</h1>

    @foreach (var item in Model)
    {
        <div class="w3-container w3-margin-top w3-round-xlarge w3-card-4 w3-white ">
            <br>
            <p><b>Data: </b>@item.data.ToString("dd/MM/yyyy")</p>
            @{
                click_gas.Models.Time t = new click_gas.Models.Time(item.hora);
            }
            <p><b>Hora: </b>@t.GetTimeString()</p>
            @{
                if (item.observacoes != null)
                {
                    <p><b>Observacoes: </b>@item.observacoes</p>
                }
            }
            <br>
            <div>
                <table class="w3-centered w3-table w3-striped w3-border">
                    <tr>
                        <th>
                            Serviço
                        </th>
                        <th>
                            Quantidade
                        </th>
                    </tr>
                    @foreach (var servico in item.servicos)
                    {
                        <tr>
                            <td>
                                @servico.servico
                            </td>
                            <td>
                                @servico.quantidade
                            </td>
                        </tr>
                    }
                </table>
                @using (Html.BeginForm("ConfirmaCancelamento", "Cliente", FormMethod.Post))
                {
                    <p class="w3-center">
                        <input type="hidden" name="idPedido" value=@item.idPedido />
                        <input type="hidden" name="data" value=@item.data.ToString("dd/MM/yyyy") />
                        <input type="hidden" name="hora" value=@t.GetTimeString() />
                        <input class="w3-button w3-section w3-deep-orange w3-round-xlarge w3-ripple w3-center" type="submit" value="Cancelar pedido" />
                    </p>
                }
                <br />
            </div>
        </div>
    }
</body>
</html>